/* Google Fonts import */

@import url("https://fonts.googleapis.com/css2?family=Limelight&family=Poppins:wght@300;400;500;600;700;800;900&family=Raleway:wght@200;300;400;500;600;700;800;900&display=swap");

/* Headline and subtitle styles to overwrite Bulma */

#custom h1 {
    font-family: "Limelight", sans-serif !important;
    font-size: 64px;
}

#custom h2 {
    font-family: "Poppins", sans-serif !important;
    font-weight: 700;
    font-size: 18px;
}

.modal h3 {
    font-family: "Poppins", sans-serif !important;
    font-weight: 600;
    font-size: 24px;
}

.modal h4 {
    font-family: "Poppins", sans-serif !important;
    font-weight: 400;
    font-size: 16px;
}

/* Logo styles */

.logo-image {
    display: block;
    width: 450px;
}

/* Primary containers */

#main-flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

#left {
    display: flex;
    flex-direction: column;
    flex-basis: 49.5%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    margin: 10px !important;
}

#right {
    display: flex;
    flex-direction: column;
    flex-basis: 49.5%;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 10px !important;
}

/* Button styles  */

.button {
    width: 48px !important;
    height: 48px !important;
    background-color: #6699ff !important;
    border: none !important;
    color: white !important;
}

.button:hover,
.button:active {
    color: white !important;
}

/* List styles */

#separator {
    width: 500px;
    height: 1px;
    margin: 10px 0;
    border-top: 1px white solid;
}

textarea {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
}

.textarea:active,
.textarea:focus {
    border-color: #6699ff !important;
}

#text-area-list-name {
    font-weight: 900;
}

#list-name,
#list-item-1,
#list-item-2,
#list-item-3,
#list-item-4,
#list-item-5,
#list-item-6,
#list-item-7,
#list-item-8,
#list-item-9,
#list-item-10 {
    display: flex;
    width: 400px;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.modal {
    background-color: white;
    position: fixed;
    top: 10%;
    bottom: 10%;
    left: 20%;
    right: 20%;
    text-align: center;
}

/* .modal-background {
    margin: auto;
    width: 90%;
    background-color: #6699ff;
} */

.movie-image {
    min-height: 500px;
}

/* Media queries for height and width */

@media screen and (max-width: 1000px),
screen and (max-height: 750px) {
    #custom h1 {
        font-size: 48px;
    }

    #custom h2 {
        font-size: 16px;
    }

    .logo-image {
        width: 250px !important;
        margin-top: 250px !important;
    }

    #main-flex-container {
        flex-wrap: wrap;
        height: 100vh;
        overflow: scroll;
    }

    #left {
        flex-direction: column;
        flex-basis: 99%;
        height: auto;
        margin: 10px 0 !important;
    }

    #right {
        flex-direction: column;
        flex-basis: 99%;
        height: auto;
        margin: 10px !important;
    }
}