/* Google Fonts import */

@import url('https://fonts.googleapis.com/css2?family=Limelight&family=Poppins:wght@300;400;500;600;700;800;900&family=Raleway:wght@200;300;400;500;600;700;800;900&display=swap');

/* Headline and subtitle styles to overwrite Bulma */

#custom h1 {
    font-family: 'Limelight', sans-serif !important;
    font-size: 64px;
}

#custom h2 {
    font-family: 'Poppins', sans-serif !important;
    font-weight: 400;
    font-size: 18px;
}

/* Logo styles */

#logo {
    width: 450px;
}

/* Primary containers */

#main-flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

#left {
    display: flex;
    flex-direction: column;
    flex-basis: 49.5%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align:center;
    margin: 10px !important;
}

#right {
    display: flex;
    flex-direction: column;
    flex-basis: 49.5%;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 10px !important;
}

/* Button styles  */

.button {
    height: 48px !important;
    background-color: #6699ff !important;
    border: none !important;
    color: white;
}

.button:hover {
    height: 48px !important;
    background-color: #33cc66 !important;
    border: none !important;
    color: white;
}

/* List styles */

#separator {
    width: 448px;
    height: 1px;
    margin: 10px 0;
    border-top:1px white solid;
}


textarea {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

.textarea:active, .textarea:focus {
    border-color: #6699ff !important;
}

#text-area-list-name {
    font-weight: 900;
}

#list-name, #list-item-1, #list-item-2, #list-item-3, #list-item-4, #list-item-5, #list-item-6, #list-item-7, #list-item-8, #list-item-9, #list-item-10 {
    display:flex;
    width: 400px;
    justify-content: center;
    align-items: center;
    align-content: center;
}

/* Media queries for height and width */

@media screen and (max-width: 1000px),
       screen and (max-height: 750px) {
    #logo {
        width: 250px;
    }

    #main-flex-container {
    flex-wrap: wrap;
    height: 100vh;
    overflow-y: scroll;
    }

    #left {
    flex-direction:column;
    flex-basis: 99%;
    height: auto;
    margin: 20px !important;
    }

    #right {
    flex-direction:column;
    flex-basis: 99%;
    height: auto;
    margin: 20px !important;
    }
}
  
.movie-image{
    height: 180px
}